@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scroll-snap {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    width: 100vw;
  }
}
